<a href="https://colab.research.google.com/github/erica00j/machinelearning/blob/main/mlstudy2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
import pandas as pd
df=pd.read_csv('/listings_berlin.csv')
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,Mitte,Brunnenstr. Nord,52.54433,13.39761,Private room,28,60,18,2018-11-11,0.21,3,101
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,Mitte,Brunnenstr. Süd,52.53305,13.40394,Entire home/apt,74,90,141,2020-04-03,2.20,6,357
2,3176,Fabulous Flat in great Location,3718,Britta,Pankow,Prenzlauer Berg Südwest,52.53471,13.41810,Entire home/apt,90,62,147,2017-03-20,1.14,1,254
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Tempelhof - Schöneberg,Schöneberg-Nord,52.49884,13.34940,Private room,29,7,27,2018-08-16,0.28,1,285
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Friedrichshain-Kreuzberg,Frankfurter Allee Süd FK,52.51163,13.45289,Entire home/apt,79,7,135,2021-01-02,1.02,1,0

https://www.kaggle.com/datasets/lennarthaupts/airbnb-berlin-july-2021

In [11]:
df.shape

(19095, 16)

In [12]:
df.isnull().sum()

id                                   0
name                                30
host_id                              0
host_name                           12
neighbourhood_group                  0
neighbourhood                        0
latitude                             0
longitude                            0
room_type                            0
price                                0
minimum_nights                       0
number_of_reviews                    0
last_review                       4155
reviews_per_month                 4155
calculated_host_listings_count       0
availability_365                     0
dtype: int64

df.isnull().sum()은 각 컬럼별 결측치(missing value)가 몇개 있는지 확인

In [13]:
df = pd.get_dummies(df, columns = ['neighbourhood_group', 'neighbourhood'])
df.head()

,id,name,host_id,host_name,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,...,neighbourhood_West 3,neighbourhood_West 4,neighbourhood_West 5,neighbourhood_Westend,neighbourhood_Wiesbadener Straße,neighbourhood_Wilhelmstadt,neighbourhood_Zehlendorf Nord,neighbourhood_Zehlendorf Südwest,neighbourhood_nördliche Luisenstadt,neighbourhood_südliche Luisenstadt
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,52.54433,13.39761,Private room,28,60,18,...,0,0,0,0,0,0,0,0,0,0
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,52.53305,13.40394,Entire home/apt,74,90,141,...,0,0,0,0,0,0,0,0,0,0
2,3176,Fabulous Flat in great Location,3718,Britta,52.53471,13.41810,Entire home/apt,90,62,147,...,0,0,0,0,0,0,0,0,0,0
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,52.49884,13.34940,Private room,29,7,27,...,0,0,0,0,0,0,0,0,0,0
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,52.51163,13.45289,Entire home/apt,79,7,135,...,0,0,0,0,0,0,0,0,0,0

pd.get_dummies()는 더미의 가변수를 만들 수 있는 함수

In [14]:
del df['latitude']

In [15]:
del df['longitude']

In [16]:
df.shape

(19095, 162)

In [17]:
df.head()

,id,name,host_id,host_name,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,...,neighbourhood_West 3,neighbourhood_West 4,neighbourhood_West 5,neighbourhood_Westend,neighbourhood_Wiesbadener Straße,neighbourhood_Wilhelmstadt,neighbourhood_Zehlendorf Nord,neighbourhood_Zehlendorf Südwest,neighbourhood_nördliche Luisenstadt,neighbourhood_südliche Luisenstadt
0,1944,bright & airy Pberg/Mitte 3 months or more,2164,Lulah,Private room,28,60,18,2018-11-11,0.21,...,0,0,0,0,0,0,0,0,0,0
1,2015,Berlin-Mitte Value! Quiet courtyard/very central,2217,Ion,Entire home/apt,74,90,141,2020-04-03,2.20,...,0,0,0,0,0,0,0,0,0,0
2,3176,Fabulous Flat in great Location,3718,Britta,Entire home/apt,90,62,147,2017-03-20,1.14,...,0,0,0,0,0,0,0,0,0,0
3,3309,BerlinSpot Schöneberg near KaDeWe,4108,Jana,Private room,29,7,27,2018-08-16,0.28,...,0,0,0,0,0,0,0,0,0,0
4,6883,Stylish East Side Loft in Center with AC & 2 b...,16149,Steffen,Entire home/apt,79,7,135,2021-01-02,1.02,...,0,0,0,0,0,0,0,0,0,0

In [18]:
df.isnull().sum()

id                                      0
name                                   30
host_id                                 0
host_name                              12
room_type                               0
                                       ..
neighbourhood_Wilhelmstadt              0
neighbourhood_Zehlendorf  Nord          0
neighbourhood_Zehlendorf  Südwest       0
neighbourhood_nördliche Luisenstadt     0
neighbourhood_südliche Luisenstadt      0
Length: 162, dtype: int64